/* ---------------features section css-------------  */

/* section one  */

.main-gradient1 {
    background: #00DE87;
    width: 530px;
    height: 220px;
    position: absolute;
    top: 40%;
    left: 20%;
    border-radius: 50%;
    filter: blur(150px);
    transform: rotateZ(30deg);
    z-index: -1;
}

.main-gradient2 {
    background: #F3AF00;
    width: 530px;
    height: 220px;
    position: absolute;
    top: 40%;
    right: 20%;
    border-radius: 50%;
    filter: blur(150px);
    transform: rotateZ(-45deg);
    z-index: -1;
}

.animation-section {
    padding-top: 58px;
}

.animation {
    padding-top: 186px;
    padding-bottom: 40px;
}

.hero-content {
    text-align: center;
}

.sec1-content {
    text-align: center;
}

.sec1-content h1 {
    font-size: 57px;
    line-height: 70px;
    padding-bottom: 10px;
}

.sec1-content p {
    font-size: 26px;
    line-height: 32px;
    padding-bottom: 43px;
    color: #A1A4B2;
    max-width: 771px;
    margin-inline: auto;
}

.book {
    display: flex;
    justify-content: center;
}

.white {
    color: #FFFFFF;
}

.border {
    border: 1px solid #FFFFFF;
}

#featuresAnimatedPath {
    animation-name: puzzle;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-delay: 2s;
}

@keyframes puzzle {
    from {transform: translate(0, 0);}
    to {transform: translate(14%, 21%);
        transition: transform 3s ease;}
}


/* section two  */

.image-align {
    display: flex;
}

.sec2-img3-feature {
    padding-top: 40px;
    padding-bottom: 100px;
}

.sec2-img1-feature {
    margin-bottom: 20px;
}

.heading-desk {
    font-size: 33px;
    line-height: 40px;
    padding-bottom: 67px;
    color: #FFFFFF;
}

.hrex-feature {
    width: 188px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 35px;
}

.padding {
    padding-left: 59px !important;
}

.content1 {
    text-align: left !important;
    color: #FFFFFF !important;
}

.content1 h4 {
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF !important;
    padding-top: 40px;
}

.content1 p {
    font-size: 15px;
    line-height: 18px;
    width: 400px;
}

.content2 {
    text-align: left !important;
    padding-top: 25px;
}

.content2 h5 {
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    color: #FFFFFF !important;
}

.content2 p {
    color: var(--uk-color) !important;
}

.scrolling-section {
    padding-top: 126px;
    max-width: 1215px !important;
    margin-inline: auto !important;
}

.background-black {
    max-height: 809px;
    background-color: #191919;
    border-radius: 34px;
    text-align: center;
    padding-inline: 111px;
}

.sec2-inner-cont {
    padding-inline: 111px;
    max-height: 500px;
    overflow-x: hidden;
}

.sec2-inner-cont::-webkit-scrollbar { 
    display: none;
}

.background-black::-webkit-scrollbar { 
    display: none;
}

.sec2-cont-pad {
    padding-inline: 0 !important;
}


/* section three  */

.slider-content-feature h5 {
    font-size: 15px;
    line-height: 18px;
    padding-bottom: 11px;
    color: #FFFFFF;
}

.slider-content-feature p {
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 10px;
    max-width: 449px;
    color: #FFFFFF;
}

.white-bg {
    background-color: #FFFFFF;
}

.cont-feature {
    position: relative;
    display: flex;
    justify-content: center;
}


/* section four  */

.card-area {
    margin-left: 0;
    position: relative;
    max-width: 50%;
}

.blue-slider {
    background-color: var(--card-blue-color);
}

.hrex-wid {
    width: 141px;
    text-align: center;
    margin-bottom: 35px;
    margin-top: 39px;
}

.two-col-feature h2 {
    font-size: 33px;
    line-height: 40px;
    max-width: 546px;
    padding-bottom: 17px;
}

.two-col-feature p {
    font-size: 21px;
    line-height: 26px;
    padding-bottom: 40px;
    max-width: 452px;
    color: var(--content-color);
}

.feature-pad {
    padding-left: 50px !important;
    padding-right: 108px !important;
}

.two-col-feature-section {
    background-color: #FFFFFF;
    border-radius: 34px;
    min-height: 560px;
    margin-bottom: 130px;
    margin-top: 120px;
    margin-inline: 112px;
}

.sec4-image2-feature {
    position: absolute;
    top: 32px;
    left: 29px;
}

.hr-card-feature h4 {
    font-size: 21px;
    line-height: 26px; 
    padding-bottom: 15px; 
}

.hr-cards-feature {
    padding-top: 125px;
}

.hr-card-feature p {
    font-size: 15px;
    line-height: 18px;
    padding-bottom: 16px;
}

.sec4-image1-feature {
    position: absolute;
    width: 100%;
}

/* section five  */

.hrex-how {
    width: 226px;
    text-align: center;
}

.sec5-cont {
    text-align: center;
}

.two-sections-slider {
    padding-top: 30px;
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.sec5-cont {
    padding-inline: 112px !important;
}

.sec5-cont h2 {
    padding-top: 20px;
    padding-bottom: 45px;
    font-size: 33px;
    line-height: 40px;
}

.img3-sec5 {
    position: relative;
    padding-top: 42px;
    padding-bottom: 27px;
}

.img4-sec5 {
    position: absolute;
    top: 14%;
    left: 12%;
}

.white-back {
    border-radius: 34px;
    background-color: #FFFFFF;
    text-align: left !important;
    padding-left: 40px !important;
    max-height: 437px;
    margin-left: 10px;
    margin-right: -2px;
}

.two-sections-slider {
    padding-bottom: 136px;
}

.white-back h4 {
    font-size: 30px;
    line-height: 37px;
    padding-bottom: 10px;
}

.white-back p {
    font-size: 21px;
    line-height: 26px;
    max-width: 365px;
    padding-bottom: 56px;
}

.grey {
    background-color: #C6C9D7;
    margin-bottom: 32px;
    padding-left: 32px !important;
}

.grey-btn-icon {
    background: #C6C9D7 !important;
}

.sec5-img1 {
    position: relative;
    width: 100%;
    height: 437px;
}

.sec5-img2 {
    width: 450px;
    height: 6px;
    bottom: 101px;
    z-index: 1 !important;
}

.adjust {
    flex-wrap: nowrap !important;
    justify-content: left;
}

.learn-demo {
    display: flex;
    justify-content: left;
}

.sec5-img2 {
    position: absolute;
    transform: translate(-41%, -50%);
}

.arrow-setting {
    background-color: black;
    border-color: black;
    position: relative;
    left: 93px;
    bottom: 90px;
    cursor: pointer;
}

.left-arrow-setting {
    background-color: transparent !important;
    transform: rotate(-90deg);
    position: relative;
    bottom: 140px;
    left: 32px;
    cursor: pointer;
}

.slick-slider2 {
    margin-left: 0;
    position: relative;
    max-width: 100%;
    margin-bottom: 0 !important;
}

.slider-content-feature {
    max-width: 100% !important;
}

.align-cont {
    align-content: flex-end;
}

.card-area .slider-content-feature {
    opacity: 0;
    transition: opacity 5s ease-in-out;
}

.card-area .slick-active .slider-content-feature {
    opacity: 1;
}