/* default classes */

.container {
    width: 100%;
    padding-right: 90px;
    padding-left: 90px;
    margin-inline: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
        padding-right: 60px;
        padding-left: 60px;
        margin-inline: auto;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1300px;
        padding-inline: 60px;
    }
}

@media (min-width: 1440px) {
    .container {
        max-width: 100%;
        padding-inline: 90px;
    }
}

.row {
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 576px) {
    .col-sm-1 {
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }

    .col-sm-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }

    .col-sm-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-sm-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .col-sm-5 {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }

    .col-sm-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-sm-7 {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }

    .col-sm-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }

    .col-sm-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-sm-10 {
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }

    .col-sm-11 {
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
    }

    .col-sm-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

}


/* -----navbar ------  */

@media (max-width: 767px) {

    .container {
        max-width: 100%;
        padding: 0 10px;
    }

    /* mobile navbar  */

    .navbar {
        display: none;
    }

    .outer-container {
        background-color: blue;
        padding: 15px 17px 35px 17px;
    }

    .flex {
        display: flex;
    }
    
    .inner-container {
        background-color: #FFFFFF;
        padding-top: 349px;
    }

    .mobile-navbar {
        display: none;
        background: #FFFFFF;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        position: absolute;
        overflow-y: auto;
        z-index: 1000;
        min-height: 100vh;
    }

    .hamburger {
        display: block;
        z-index: 1000;
        position: relative;
    }

    .cross .line1 {
        transform: rotate(-50deg) translate(-8px, 12px);
    }

    .cross .line2 {
        opacity: 0;
    }

    .cross .line3 {
        transform: rotate(50deg) translate(2px, -5px);
    }
    
    .mobile-navlinks li {
        display: block;
        font-size: 30px;
        line-height: 36px;
        text-align: center;
        color: var(--nav-black-color);        
    }
    
    .mobile-navlinks li:first-child {
        font-family: aptosBold;
    }

    .mobile-navlinks li:not(:last-child) {
        padding-bottom: 47px;
    }

    .open {
        display: block;
    }

    .mobile-btn {
        display: flex;
        justify-content: center;
        padding-top: 115px;
        padding-bottom: 74px;
    }

    .dot {
        height: 40px;
        width: 40px;
        padding: 10px;
    }

    /* section one  */

    .section-one {
        padding-top: 58px;
    }

    .content {
        padding-top: 32px;
    }

    .content h1 {
        font-size: 52px;
        line-height: 51px;
    }

    .content p {
        font-size: 19px;
        line-height: 23px;
        padding-top: 10px;
        padding-bottom: 48px;
    }

    .img-container {
        display: none;
    }

    .img-mobile-container {
        display: flex;
        justify-content: center;
    }

    .text {
        padding-top: 47px;
    }

    .margin {
        margin-right: 19px;
    }

    /* section two  */

    .section-two {
        min-height: 432px;
    }

    .content-sec2 {
        padding-top: 44px;
    }

    .content-sec2 h2 {
        font-size: 28px;
        line-height: 30px;
        padding-top: 26px;
        padding-bottom: 17px;
        max-width: 359px;
        margin-inline: auto;
    }

    .content-sec2 p {
        font-size: 17px;
        line-height: 21px;
        max-width: 296px;
        margin-inline: auto;
    }

    .cards-container {
        padding-bottom: 66px;
        margin-top: -116px;
        margin-inline: 10px;
    }

    .card {
        height: 350px;
        max-width: 300px !important;
        padding: 32px 20px 32px 20px;
        margin-inline: 12px;
        margin-bottom: 23px;
    }

    .card p {
        padding-bottom: 32px;
    }

    .card:not(:last-child) {
        margin-right: 12px;
    }

    .cards {
        flex-direction: column;
        align-items: center;
    }

    /* -------section three----  */

    .sec3-mobile {
        display: block;
    }

    .section-three {
        display: none;
    }

    .sec3-col {
        text-align: center;
        margin-inline: 34px;
    }

    .up-image, .down-image {
        width: 100%;
        max-width: 132px;
    }

    .up-image {
        height: 220px;
    }

    .sec3-image {
        max-width: 199px;
        width: 100%;
        height: 327px;
        margin-bottom: 20px;
    }

    .max1 {
        max-width: 35% !important;
        margin-inline: auto;
    }

    .max2 {
        max-width: 55% !important;
    }

    .mg {
        padding-inline: 30px;
    }

    .sec3-col h3 {
        font-size: 28px;
        line-height: 34px;
        padding-bottom: 15px;
        padding-top: 31px;
        margin-inline: auto;
    }
    
    .sec3-col p {
        font-size: 17px;
        line-height: 21px;
        padding-bottom: 23px;
        margin-inline: auto;
    }

    .down-image {
        bottom: 50px;
    }

    .inner-content {
        max-width: 347px;
        margin-inline: auto;
    }

    .inner-content h4 {
        padding-bottom: 14px;
        padding-top: 58px;
    }

    .inner-content p {
        padding-bottom: 15px;
    }

    .pad {
        margin-bottom: 81px;
    }

    .learn-more {
        justify-content: center;
    }

    /* --- section four ----  */

    .sec4-wid {
        margin-top: 27px;
        margin-bottom: 29px;
    }

    .sec4-image1 {
        max-width: 100%;
    }

    .sec4-image2 {
        top: -15px;
        max-width: 60%;
    }

    .sec4-col {
        text-align: -webkit-center;
    }

    .sec4-col h2 {
        font-size: 28px;
        line-height: 34px;
        max-width: 328px;
        padding-bottom: 29px;
    }

    .sec4-col p, .hr-card h4 {
        font-size: 17px;
        line-height: 21px;
        max-width: 288px;
    }

    .hr-cards {
        padding-top: 0;
        margin-top: 200px;
    }

    .hr-card p {
        font-size: 13px;
        line-height: 16px;
        max-width: 349px;
    }

    .book-demo {
        padding-top: 45px;
    }

    .section-four {
        margin-bottom: 50px;
    }

    /* ----- section five ----- */

    .nowrap {
        flex-wrap: wrap !important;
        justify-content: center;
    }

    .m-right {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .marg {
        margin-bottom: 0;
    }

    .sec5-card {
        padding-left: 18px !important;
        margin-left: 10px;
    }

    .sec5-cards {
        margin-inline: 10px;
    }

    .more-btn {
        margin-top: 20px;
    }

    .section-five {
        padding-bottom: 58px;
    }

    /* section sixth  */

    .section-six {
        margin-bottom: 72px;
        margin-inline: 20px;
    }

    .cont-pad {
        padding-inline: 30px !important;
    }

    .star-rating {
        padding-bottom: 50px;
    }

    .fl-dir {
        flex-direction: column-reverse;
    }

    .slick-prev {
        left: 80% !important;
    }

    .slick-next {
        left: 95% !important;
    }

    .sec6-content {
        max-width: 100%;
    }

    .center {
        max-width: fit-content;
    }


    /* section seven  */

    .sec7-cont h2 {
        font-size: 28px;
        line-height: 34px;
        max-width: 330px;
        margin-inline: auto;
    }

    .sec7-cont {
        padding-bottom: 31px;
    }

    .d-flex {
        flex-direction: column;
    }

    .text0 {
        margin-right: 0;
    }

    .vertical-text {
        writing-mode: unset;
        transform: unset;
        font-size: 17px;
        line-height: 21px;
        margin-left: 0;
        margin-bottom: 25px;
        margin-top: 23px;
    }

    .sec7-inner-cont {
        padding-inline: 20px;
        margin-bottom: 190px;
    }

    .sec7-img {
        width: 100%;
    }

    .num1-cont h2 {
        max-width: 51px;
        padding: 41px 0 88px 0;
    }

    .num1-cont p {
        max-width: 285px;
        padding: 50px 0 50px 10px;
    }

    .main-cont {
        padding-top: 0;
        padding-bottom: 0;
    }

    .sec7-img-cont {
        transform: rotate(90deg);
        right: -180px;
        margin-top: 170px;
        margin-bottom: 100px;
    }

    .sec7-img-cont p {
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        bottom: 0;
        top: 300px;
        white-space: nowrap;
    }

    .blue-img {
        width: 279px;
    }

    .darkblue-img {
        width: 190px;
    }

    .yellow-img {
        width: 100px;
    }
    
    .text1 {
        right: 220px;
    }

    .text2 {
        right: 130px;
    }

    .text3 {
        right: 35px;
    }

    .setting {
        flex-direction: column;
        align-items: center;
    }


    /* section eight  */

    .sec8-container h2 {
        padding-top: 25px;
        padding-bottom: 40px;
        font-size: 28px;
        line-height: 34px;
    }

    .sec8-card {
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .sec8-cards {
        margin-inline: 17px;
        padding-bottom: 43px;
    }

    .sec8-para {
        padding-top: 22px;
        padding-bottom: 22px;
        padding-left: 22px;
        font-size: 13px;
        line-height: 16px;
    }

    .sec8-head {
        font-size: 19px;
        line-height: 23px;
    }

    .arw {
        margin-top: -30px;
    }


    /* ninth section  */

    .ninth-section-img {
        padding: 46px 13px 19px 19px;
    }

    .sec9-cont h2 {
        max-width: 328px;
        font-size: 35px;
        line-height: 43px;
    }

    .sec9-cont {
        justify-content: center;
        text-align: center;
    }

    .book-call {
        padding-top: 73px;
        padding-bottom: 20px;
    }

    .section-ninth {
        padding-bottom: 124px;
    }

    /* footer section  */

    .footer-row {
        padding: 56px 53px 59px 28px;
    }

    .footer-logo {
        width: 45px;
        padding-bottom: 41px;
    }




}

@media (min-width:768px) and (max-width: 1199px) {

    .mobile-navbar {
        display: none;
    }

    .navbar {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    .logo-image {
        margin-right: 0;
    }

    .navlinks li:last-child {
        margin-right: 0;
    }

    .flex-change {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .cards {
        gap: 20px;
    }

    /* section three  */

    .sec3-mobile {
        display: none;
    }

    .max1 {
        max-width: 25% !important;
        padding-left: 250px;
    }

    .max2 {
        max-width: 50% !important;
    }

    .sec3-col {
        padding-top: 100px;
    }

    .down-image {
        bottom: 49px;
    }

    .max3 {
        flex: 0 0 80% !important;
        max-width: 80% !important;
    }


    /* ----section four -----  */

    .sec4-image1 {
        width: 100%;
    }

    .sec4-image2 {
        top: 10px;
        width: 40%;
    }

    /* ----- section five ----- */


    /* section six  */

    .center {
        align-content: center !important;
    }


    /* section seven  */


    .blue-img {
        width: 100%;
        height: 100%;
    }

    .darkblue-img {
        width: 70%;
        height: 100%;
    }

    .yellow-img {
        width: 40%;
        height: 100%;
    }
    
    .text0 {
        margin-right: 20px;
    }

    .sec7-img {
        width: 100%;
    }

    .text1 {
        right: 200px;
    }

    .text2 {
        right: 130px;
    }

    .text3 {
        right: 45px;
    }

    .sec7-img-cont p {
        bottom: 50px;
    }


    /* section eight  */

    .sec8-container h2 {
        font-size: 28px;
        line-height: 34px;
    }

    .sec8-para {
        font-size: 13px;
        line-height: 16px;
    }

    .sec8-head {
        font-size: 19px;
        line-height: 23px;
    }

    /* section nine  */

    .ninth-section-img {
        padding: 46px 13px 19px 19px;
    }

    .sec9-cont {
        justify-content: center;
        text-align: center;
    }

    .book-call {
        padding-top: 73px;
        padding-bottom: 20px;
    }



}

@media (min-width:992px) and (max-width:1199px) {
    .text1 {
        right: 290px;
    }

    .text2 {
        right: 180px;
    }

    .text3 {
        right: 60px;
    }
}

@media (min-width:1200px) {

    .mobile-navbar {
        display: none;
    }

    .sec3-mobile {
        display: none;
    }

}